<!DOCTYPE html>
<html>
    <head>
        <title>Integrating AngularJS with NodeJS</title>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
        <script type="text/javascript" src="javascripts/app.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>

    <body ng-app="myApp">
        <h3>Students List</h3> 
        <div ng-controller="myController">
            <div>
                <table class="table table-borderd">
                    <thead>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th>Contact Number</th>
                        <th>Action</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in data">
                            <td>{{x.firstName}}</td>
                            <td>{{x.lastName}}</td>
                            <td>{{x.address}}</td>
                            <td>{{x.contact}}</td>
                            <td><button class="btn btn-default" ng-click="editData(x._id)">Edit</button> &nbsp <button class="btn btn-default" ng-click="deleteData(x._id)">Delete</button></td>
                        </tr>
                    </tbody>                    
                </table>                                  
            </div>
            <div>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="firstName">First Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" ng-model="employee.firstName" id="firstName" placeholder="Enter First Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="lastName">Last Name:</label>
                        <div class="col-sm-10"> 
                            <input type="text" class="form-control" ng-model="employee.lastName" id="lastName" placeholder="Enter Last Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="address">Address:</label>
                        <div class="col-sm-10"> 
                            <input type="text" class="form-control" ng-model="employee.address" id="address" placeholder="Enter address"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="contact">Contact Number:</label>
                        <div class="col-sm-10"> 
                            <input type="text" class="form-control" ng-model="employee.contact" id="contact" placeholder="Enter contact "/>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" ng-show="visible" ng-click="addData()">Submit</button>
                            <button type="submit" class="btn btn-default" ng-hide="visible" ng-click="updateData()">Update</button>
                        </div>
                    </div>
                </form>
            </div>                          
        </div>
        
        <button class="btn btn-default"><a href="/home">Go to Next page</a></button>
        <div class="ng-view"></div>

    </body>
</html>